# junior_python/.gitignore

# Environment variables (секреты!)
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/

# Docker
*.env
!.env.example
